// ======================================
//  Variables
// ======================================

// Colors
$background-color:#F2F2F2;

$primary-color: #333333 ;
$secondary-color: #262626;
$element-background-color: #F8F9F9;
$color-text: #333333;
$light-text-color: #999999;




//fonts

$font-family: 'Source Sans Pro', sans-serif;


// Media Query Breakpoints

$breakpoints:(
'm': 768px,
'l': 1024px
);


