/* ============================================= */
/*              Chart Canvas Settings            */
/* ============================================= */

.widget-container-half{
  width: 100vw;
  height: 40vh;
  margin: auto; 
  position: relative; 
@include mquery ('m'){
  width: 45vw;

}
}

.widget-container-full{
  width: 100vw;
  height: 40vh;
  position: relative;
  margin: auto;
@include mquery ('m'){
  width: 90vw;

}
}

