

/* ===================================== 
  Grid Layout
======================================== */
.grid-container {
  column-gap: 1em;
  row-gap: 1em;
  margin: 1em;
  padding-bottom: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto; 
  grid-template-areas: 
    "card";
  @include mquery ('m') {
    margin: 0 2em;
    grid-template-columns:repeat(2, 1fr);
    grid-template-areas: 
    "card card"
    "card card"  
    "card card"  
    "card card"  
    "card card" 
    "card card" 

  }
  @include mquery ('l') {
    grid-template-columns:repeat(3, 1fr);
    grid-template-areas: 
    "card card card"
    "card card card"  
    "card card card"  
    "card card card"  
}

}

.card-1{
  @include mquery('m'){
    grid-column: 1 / span 1;
  }
}

.card-2{
  @include mquery('m'){
    grid-column: 2 / span 1;
  }
}

.card-3{
  @include mquery('m'){
    grid-column: 1 / span 1;
    grid-row: 2;
  }
  @include mquery('l'){
    grid-column: 3 / span 1;
    grid-row: 1;
  }
}

.card-4{
  @include mquery('m'){
    grid-column: 2 / span 1;
    grid-row: 2;
  }
  @include mquery('l'){
    grid-column: 1 / span 1;
    grid-row: 2;
  }
}

.card-5{
  @include mquery('m'){
    grid-column: 1 / span 1;
    grid-row: 3;
  }
  @include mquery('l'){
    grid-column: 2 / span 1;
    grid-row: 2;
  }
}

.card-6{
  @include mquery('m'){
    grid-column: 2 / span 1;
    grid-row: 3;
  }
  @include mquery('l'){
    grid-column: 3 / span 1;
    grid-row: 2;
  }
}

.card-7{
  @include mquery('m'){
    grid-column: 1 / span 1;
    grid-row: 4;
  }
  @include mquery('l'){
    grid-column: 1 / span 1;
    grid-row: 3;
  }
}

.card-8{
  @include mquery('m'){
    grid-column: 2 / span 1;
    grid-row: 4;
  }
  @include mquery('l'){
    grid-column: 2 / span 1;
    grid-row: 3;
  }
}

.card-9{
  @include mquery('m'){
    grid-column: 1 / span 1;
    grid-row: 5;
  }
  @include mquery('l'){
    grid-column: 3 / span 1;
    grid-row: 3;
  }
}

.card-10{
  @include mquery('m'){
    grid-column: 2 / span 1;
    grid-row: 5;
  }
  @include mquery('l'){
    grid-column: 1 / span 1;
    grid-row: 4;
  }
}

.card-11{
  @include mquery('m'){
    grid-column: 1 / span 1;
    grid-row: 6;
  }
  @include mquery('l'){
    grid-column: 2 / span 1;
    grid-row: 4;
  }
}

.card-12{

  @include mquery('m'){
    grid-column: 2 / span 1;
    grid-row: 6;
  }
  @include mquery('l'){
    grid-column: 3 / span 1;
    grid-row: 4;
  }
}





//End of Grid Layout

/* ===================================== 
  Main Layout
======================================== */


header{
  text-transform: uppercase;
  padding: 1.5em;
  text-align: center;
  @include mquery ('m'){
    text-align: start;
    padding-left: 2em;

  }
}

.card{
  padding: .3em;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
  width: auto;
  height: 8em;  
  transition: ease-in-out .6s;
  &:hover{
    box-shadow: 0 0 20px #000;
  }
  }

  .text-container{
    line-height: 1em;
    margin: auto 0;
    padding-bottom: 1em;
  }


  /* ===================================== 
Overlay 
======================================== */

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.8);

}

.modal {
  width: 250px ;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff ;
  border: 1px solid #778 ;
  border-radius: 5px ;
  padding: 30px 20px ;
  @include mquery('m'){
    width: 375px;
  }

}

.modal-close {
  position: absolute;
  border: none;
  background-color: white;
  right: 15px ;
  top: 5px ;
  font-size: 1.2em;
  cursor: pointer;
  &:hover{
   transform: scale(1.3)
  }
  }

  .hidden {
    display: none;
    }


    .previous,
    .next {
      cursor: pointer;
      position: absolute;
      top: 40%;
      color: $primary-color;
      font-size: 3em;
      border: none;
      padding: 0;
      background-color: white;
      &:hover{
        transform: scale(1.3);
       }


    }
 
    .next {
      right: 0;
      margin-right: 0.2em;
      
    }

    .previous{
      left: 0;
      margin-left: 0.2em;
    }

/* ===================================== 
  Search
======================================== */
    
 
    .search-field input[type="search"]{
      border: none;
      font-size: 16px;
      height: 2em;
      border-radius: 5px;
      color: $color-text;
      padding: 1em;
      width: 100%;
      transition: background-color 1s ease-in-out .2s;
      margin: 0 auto;
    }


   
    .search-field input:focus{
      background-color: lighten($secondary-color,50%);
      color: white;
      border: solid 1px lightgrey;
    }

    form{
      margin: 0 2em 1.5em 2em;
      @include mquery ('m'){
      margin: 0 6em 1.5em 6em; 
      }
    }

  
 